
tr{ 
    border-color: black;
}

th,td
{
   
    
}
#header{
    background-color: lightblue;
}

#doe{

    background-color: green;
}

#a{

    background-color: orangered;
}
#juan{

    background-color: yellow;
}
#b{

    background-color: blueviolet;
}